<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.recovered.RecoveredActivity"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recovered_media.activity.ShowMediaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recovered_media.activity.RecoveredFileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.scanImage.activity.ImageScanActivity"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".ui.scanImage.activity.ShowScanImageActivity"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".ui.scanVideo.activity.VideoScanActivity"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".ui.scanVideo.activity.ShowScanVideoActivity"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Main" />
    </application>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>